!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %title= content_for?(:title) ? yield(:title) : "Sports RnD"

  = stylesheet_link_tag "investors", '/css/bootstrap.css'
  = stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
  = javascript_include_tag "vendor/custom.modernizr"
  = javascript_include_tag "application"
  = csrf_meta_tag

%body
  
  %h3{'data-no-turbolink' => true}=link_to "Sports RnD", "/"
  -if current_investor && current_investor.admin?
    =render :partial => 'admin/admin_links'
  -if current_investor
    =current_investor.email
    signed in
  -else
    Please Sign in or Request Access:

  %br
  %br
  .row
  .span3
  .span7
    = yield


